.kiosk-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    min-height: calc(100vh - 100px); /* Ajusta según el header */
}

.main-content {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

svg {
    display: block;
    width: 100%;
    height: auto;
    min-height: 730px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}