.content-header {
    padding: 20px;
    margin-bottom: 20px;
    text-align: left; /* Centra el título */
}

.content-header h1 {
    margin: 0;
    font-size: 2em;
    color: #333; /* O el color que combine con tu diseño */
}

.kiosk-container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    min-height: calc(100vh - 100px);
    position: relative;
}

.kiosk-container svg {
    display: block;
    width: 100%;
    height: auto;
    min-height: 730px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.main-content {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

svg {
    display: block;
    width: 100%;
    height: auto;
    min-height: 730px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.svg-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.svg-container svg {
    width: 100%;
    height: auto;
    display: block;
}

.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.local-clickable {
    transition: opacity 0.3s;
}

.local-clickable:hover {
    opacity: 0.8;
}

.local-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.local-overlay {
    position: absolute;
    top: 40px; /* Ajusta según necesites */
    left: 30px; /* Ajusta según necesites */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    z-index: 2;
}

.local {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.local-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 5px;
}

.local-name {
    font-size: 12px;
    text-align: center;
    margin: 0;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 3px;
}

.cls-1 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

body.dark-mode .cls-1 {
    stroke: #ffffff;
}

body.dark-mode .local-name {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.cls-1 {
    transition: stroke 0.3s ease;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 24px;
}

.close-button:hover {
    color: #666;
}