.map-container {
    width: 60%;
    float: left;
    padding: 20px;
}

.map {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.local {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.local img {
    width: 50px;
    height: 50px;
}

.local p {
    margin: 0;
    font-size: 14px;
}

.container {
    width: 35%;
    float: left; /* Cambiado de right a left */
    padding: 20px;
}

.info-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.info-popup p {
    margin: 0;
}

.info-popup img {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    display: block;
    margin: 0 auto 10px; /* Centra la imagen y añade un margen inferior */
}